{% extends "base.html" %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3> Borrar Análisis: </h3>
    </div>
    <div class="col-md-6">
      <br><h4>¿Estás segurio de querer borrar el análisis con nombre: {{art.nombre}}?</h4>
      <form class="justify-content-center" method="post">
        <div class="justify-content-center">
          {{ form.csrf_token}}
          {{form.si(class="btn btn-primary")}} {{form.no(class="btn btn-primary")}}
        </div>
      </form>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
{% endblock contenido%}