{% extends "base.html" %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h2> Manual de Usuario: </h2>
    </div>
    <div class="col-md-10">
      <h4> Si necesitas ayuda con el uso de la Aplicación Web, no te preocupes, estás en el sitio adecuado.</h4><br>
      <div class="row">
        <div class="col-md-6">
          <p><b> ¿No sabes cómo acceder a nuestras redes sociales?</b><br>
          Es muy sencillo, desplazate hasta el apartado donde pone "Acerca de" en la barra superior de la web, posteriormente bajas hasta el final de la página y verás iconos que hacen referencia a nuestras redes sociales. Si desea ver alguna simplemente deberá de pulsar encima de ellos.
          </p>
          <img src="../static/img/f.png">
        </div>
        <div class="col-md-6">
          <p><b> Para el uso de la aplicación:</b><br>
          Es necesario tener una cuenta, por tanto, debe registrarse y posteriormente iniciar sesión si quiere poder descargar los distintos resultados.
          </p>
          <img src="../static/img/j.png">
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-6">
          <p> <b>¿No sabes cómo cambiar la contraseña de tu cuenta?</b><br>
          Es muy sencillo, desplazate hasta el apartado donde pone "Perfil" en la barra superior de la web, seguidamente te vas al apartado "password" y directamente pones la nueva contraseña que usted quiera.
          </p>
          <img src="../static/img/g.png">
        </div>
        <div class="col-md-6">
          <p> <b>¿Sabes que puedes filtrar segun el análisis que te quieras descargar?</b><br>
          Es muy sencillo, desplazate hasta el apartado donde pone "Análisis de twitter" en la barra superior de la web, seguidamente vete a la barra de navegación que aparece en la imagen y selecciona que es lo que prefieres descargar.
          </p>
          <img src="../static/img/p.png">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido%}