{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %} Análisis De Twitter {% endblock %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="static/css/style.css" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body>
    {% block body -%}
    {% block navbar %} 
      <nav class="navbar navbar-default ">
        <div class="container">
          <div class=" navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <a class="navbar-brand" href="/" >| Acerda De | </a>
              <a class="navbar-brand" href="/inicio">| Análisis De Twitter | </a>
            {% if current_user.is_authenticated and current_user.is_admin()  %}
              <a class="navbar-brand" href="{{url_for('categorias')}}">| Categorias |</a>
            {% endif %}
          </ul> 
          <ul class="navbar-nav ml-auto navbar-right">
            {% if current_user.is_authenticated %}
              <a class="navbar-brand " href="/perfil/{{ current_user.username}}">| Perfil | </a>
              <a class="navbar-brand " href="/logout">| {{ current_user.username}} (Salir) |</a>
            {% else %}
              <a class="navbar-brand " href="/login">| Iniciar Sesión | </a>
              <a class="navbar-brand " href="/registro">| Registro |</a>
            {% endif %}  
            </ul>
          </div>    
        </div>
      </nav>
    {% endblock navbar %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
    {% block contenido %}
    {% endblock contenido%}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {%- endblock scripts %}
  {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}













