{% extends "base.html" %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Borrar Categoría:</h3><br>
    </div>
    <div class="col-md-6">
      <br><br><h4>¿Estás seguro de borrar la categoría con nombre: {{cat.nombre}} ?</h4> <br>
      <form class="justify-content-center"  method="post">
        <div class=" justify-content-center">
          {{ form.csrf_token }}
          {{form.si(class="btn btn-primary") }} {{form.no(class="btn btn-primary")}}<br/><br/>
        </div>      
      </form>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
{% block footer %} 
{% endblock %} 	
  
{% endblock %}