{% extends "base.html" %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
      {% for cat in categorias %}
      {% if categoria.nombre==cat.nombre%}
        <a class="list-group-item active" href="{{url_for("inicio",id=cat.id)}}">{{cat.nombre}}</a>
      {% else %}
        <a class="list-group-item" href="{{url_for("inicio",id=cat.id)}}">{{cat.nombre}}</a>
      {% endif%}
      {% endfor %}  
      </div>
      <br/>
      {% if current_user.is_authenticated and current_user.is_admin()  %}
        <a class="btn btn-primary" href="{{url_for('articulos_new')}}" role="button">Nuevo análisis</a>
      {% endif %}
      <br/>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            {% if current_user.is_authenticated and current_user.is_admin()  %}
              <th>Borrar</th>
            {% endif %}   
            <th>Descargar Gráfica</th>
            <th>Descargar Fichero</th>
          </tr>
            {% for art in articulos %}
          <tr>
            <td>{{art.nombre}}</td>
            <td>{{art.descripcion}}</td>
            {% if current_user.is_authenticated and current_user.is_admin()  %}
              <td><a href="{{url_for('articulos_delete',id=art.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
            {% endif %}  
            {% if art.image %}  
              <td> La gráfica se encuentra disponible puede descargarla aquí: <a href="{{url_for('static',filename='upload/')}}{{art.image}}" download><span class="glyphicon glyphicon-floppy-disk"></span> Descargar Gráfica</a></td>
            {% else %}
              <td>No se encuentra disponible</td>
            {% endif %}
            {% if art.files %}  
              <td>El archivo se encuentra disponible puede descargarlo aquí: <a href="{{url_for('static',filename='upload/')}}{{art.files}}" download><span class="glyphicon glyphicon-floppy-disk"></span> Descargar Fichero</a></td>
            {% else %}
              <td>No se encuentra disponible</td>
            {% endif %}
            {% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
  
  
{% endblock %}