{% extends "base.html" %}
{% block contenido %}
<div class="container">
  <div class="col-md-3">
    <h2 class="form-signin-heading">Iniciar Sesión :</h2>
  </div>
  <div class="col-md-6">
    <br><br><br>
    <form class="form-signin" method="post">
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
      {{ form.csrf_token }}
      {{form.username.label()}}
      {{form.username(class="form-control")}}
      
      {{form.password.label()}}
      {{form.password(class="form-control")}}
      <br>
      {{form.submit(class="btn btn-lg btn-primary btn-block")}}
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}